<header id="intro" style="display: block;">
  <article class="fullheight" style="height: 568px;">
    <div class="hgroup">
      <h1>Recipes</h1>
      <p><a href="/#welcome"><img src="/assets/images/arrow.png" alt="down arrow"></a></p>
    </div>
  </article>

  <div class="scrollmagic-pin-spacer"
       style="display: block; top: auto; left: auto; bottom: auto; right: auto; position: relative; margin: 0 auto auto;
       box-sizing: content-box; width: 100%; min-height: 44px; height: auto; padding-top: 0; padding-bottom: 0;">
    <nav id="nav" style="position: relative; top: 0; left: 0; bottom: auto; right: auto; width: 100%;">
      <div class="navbar">
        <div class="brand"><a href="/#welcome">Welcome to Recipes!</a></div>
      </div><!-- navbar -->
    </nav>
  </div>
</header>
<main id="wrapper">
  <div class="scene" id="welcome">
    <article class="content">

      <div class="row">
        <div class="col-12">
          <div class="gallery">
            <img src="/assets/images/intro_vegetables_fruits.jpg" alt="Intro Gallery Fruits Vegetables Pictures">
            <img src="/assets/images/intro_herring.jpg" alt="Intro Gallery Herring Pictures">
            <img src="/assets/images/intro_fruit_sandwiches.jpg" alt="Intro Gallery Fruit Sandwiches Pictures">
            <img src="/assets/images/intro_healthy_party.jpg" alt="Intro Gallery Healthy Party Pictures">
            <img class="hidesm" src="/assets/images/intro_yellow_background_food.jpg" alt="Intro Gallery Yellow Food Pictures">
          </div>

          <h1>Recipes</h1>
          <div class="row" *ngIf="recipes">
            <div class="col-12">
              <hr/>
              <div class="table-responsive">
                <table class="table" id="roomsTable">
                  <tbody>
                    <tr *ngFor="let recipe of recipes">
                      <td>
                        <img src="/assets/images/recipes.jpg">
                      </td>
                      <td>
                        <strong>Recipe #: {{recipe.recipeId}}</strong><br/>
                        <strong>Name: {{recipe.recipeName}}</strong><br/>
                        <strong>Description: {{recipe.description}}</strong><br/>
                        <strong>Added date: {{recipe.addedDate}}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

        <hr/>
        <h1>Add Recipe</h1>

        <form class="form-horizontal" [formGroup]="recipeSearchForm" (ngSubmit)="createRecipe()">

          <div class="form-group">
            <label for="recipe-name" class="col-4">Recipe name:</label>
            <div class="col-8">
              <input id="recipe-name" type="string" class="form-control" formControlName="recipeName">
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-4">Description:</label>
            <div class="col-8">
              <input id="description" type="string" class="form-control" formControlName="description">
            </div>
          </div>

          <div class="form-group">
            <label for="added-date" class="col-4">Added date:</label>
            <div class="col-8">
              <input id="added-date" type="date" class="form-control" formControlName="addedDate">
            </div>
          </div>

          <div class="form-group">
            <div class="col-offset-2 col-10">
              <button type="submit" class="btn btn-primary and btn-large">Add recipe</button>
            </div>
          </div>

        </form>

      </div>

    </article>
  </div><!-- welcome -->
</main>
<footer class="scene">
  <article class="content">
    <div id="socialmedia">
      <ul class="group">
        <li><a href="https://twitter.com/"><img class="icon" src="/assets/images/twitter.png"
                                                alt="icon for twitter"></a></li>
        <li><a href="http://www.facebook.com/"><img class="icon" src="/assets/images/facebook.png"
                                                    alt="icon for facebook"></a></li>
        <li><a href="http://www.youtube.com/"><img class="icon" src="/assets/images/youtube.png" alt="icon for youtube"></a>
        </li>
      </ul>
    </div>
  </article>
</footer>
<script src=""></script>
